$branding-main-darker: #002E33;
$branding-dark: #002E33;
$branding-main: #002E33;
$footer-links-hover: #F4CB00;

@import './main';

.section-product {
  &:last-child:after {
    content: "";
    display: block;
    height: 350px;
    margin-top: 5rem;
    background: url(/images/features-bottom-pattern-2.png) center calc(100% + 1px) repeat-x;
  }
}

$light-yellow: #FFFCCC;

.grid-statements {
  background: $light-yellow;
}

.article__related {
  background-color: $light-yellow;
}

.article-main {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .article-content {
    color: #424242;
    background-color: white;
  }
}

.footer {
  a:hover {
    color: $footer-links-hover;
  }
}