$branding-main-darker: #002E33;
$branding-main: #3d7aa9;

.section-product {
  &:last-child:after {
    content: "";
    display: block;
    height: 350px;
    margin-top: 5rem;
    background: url(/images/features-bottom-pattern-2.png) center calc(100% + 1px) repeat-x;
  }
}

.grid-statements {
  background: #FFFCCC;
}

@import './main'